@import '../../sass/variables';

.messageTileWrapper {
  width: 100%;
  // min-height: 50px;
  border-radius: 10px;
  // background: blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #999999;
  box-shadow: 5px 5px 49px -25px rgba(0, 0, 0, 0.75);

  img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }

  div {
    margin-left: 10px;

    p {
      // display: block;
      margin: 0;
      font-weight: 700;

      span {
        font-weight: 300;
      }
    }
  }
  // justify-content: center;
}
