@import '../../sass/variables';

.homeWrapper {
  margin: 0 5vw;

  .messageBoard {
    display: flex;
    flex-direction: column;
    // background: green;
    padding: 10px;
    // margin: 0 5%;
    border-radius: 20px 20px 0 0;
    width: 90vw;
    height: 65vh;
    box-shadow: 5px 5px 49px -15px rgba(0, 0, 0, 0.75);
  }

  form {
    display: flex;
    flex-direction: column;
    background: #999;
    border-radius: 0 0 20px 20px;

    // width: 90%;
    label {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      // background: blue;

      p {
        width: 22%;
        margin: 0;
        padding: 7.5px;
        height: 36px;
        background: rgb(226, 225, 225);
        border-radius: 10px 0 0 10px;
        border: 1px solid rgb(226, 225, 225);
        color: rgb(77, 76, 76);
      }

      input[type='text'] {
        width: 55%;
        height: 36px;
        border: 1px solid rgb(226, 225, 225);
      }

      input[type='submit'] {
        width: 10%;
        height: 36px;
        background: turquoise;
        border: 1px solid rgb(226, 225, 225);
        border-radius: 0 10px 10px 0;
        color: white;
        font-weight: 700;
      }
    }
  }
}
