@import '../../sass/variables';

.navbarWrapper {
  // background: blue;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

    a {
      text-decoration: none;
      color: white;
      padding: 10px;
      margin: 10px;
      background: turquoise;
      border-radius: 5px;
      // background: red;
    }
  }
}
