@import '../../sass/variables';

.navbarWrapper {
  text-align: center;
  margin: 0 10px;

  // button {
  //   text-decoration: none;
  //   color: white;
  //   // padding: 10px;
  //   // margin: 10px;
  //   background: black;
  //   // border-radius: 5px;
  //   border: none;
  //   font-weight: 700;
  //   // margin: ;
  // }

  .navbar {
    // background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    // background: yellow;
    // margin-bottom: 10px;
    padding: 10px;

    a {
      text-decoration: none;
      color: white;
      padding: 10px;
      margin: 5px;
      background: turquoise;
      font-weight: 700;
      border-radius: 5px;
      font-size: 0.75rem;
      // background: red;
    }
  }
}
